In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

In [41]:
df.head()

,index,Order,MS SubClass,MS Zoning,Lot Area,Lot Shape,Land Contour,Lot Config,Neighborhood,Bldg Type,...,Garage Cars,Garage Area,Paved Drive,Wood Deck SF,Open Porch SF,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,200,2163,20,RL,9000,Reg,Lvl,Inside,NAmes,1Fam,...,1.998003,381.014258,Y,0,0,7,2007,WD,Normal,158000
1,3832,1862,20,RL,9600,Reg,Lvl,Inside,CollgCr,1Fam,...,1.998003,384.114652,Y,0,0,11,2007,WD,Normal,145000
2,4927,754,20,RL,9600,Reg,Lvl,Inside,NridgHt,1Fam,...,2.998015,625.140330,Y,0,0,5,2008,WD,Normal,125000
3,4088,641,80,RL,9600,Reg,Lvl,Inside,OldTown,1Fam,...,0.998002,193.156275,Y,0,0,7,2006,WD,Normal,135000
4,3644,754,20,RL,9600,Reg,Lvl,Inside,NoRidge,1Fam,...,2.998012,617.903766,Y,0,0,7,2007,WD,Normal,175000

In [42]:
df.dtypes

index               int64
Order               int64
MS SubClass         int64
MS Zoning          object
Lot Area            int64
Lot Shape          object
Land Contour       object
Lot Config         object
Neighborhood       object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Exterior 1st       object
Exterior 2nd       object
Exter Qual         object
Foundation         object
BsmtFin SF 1      float64
Bsmt Unf SF       float64
Total Bsmt SF     float64
Heating QC         object
Central Air        object
Electrical         object
1st Flr SF          int64
2nd Flr SF          int64
Gr Liv Area         int64
Bsmt Full Bath    float64
Full Bath           int64
Half Bath           int64
Bedroom AbvGr       int64
Kitchen AbvGr       int64
Kitchen Qual       object
TotRms AbvGrd       int64
Fireplaces          int64
Garage Cars       float64
Garage Area       float64
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
dtype: object

In [43]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

y=df["SalePrice"]

X=df.drop("SalePrice",axis=1)

for column in X.columns:
#     print(titanic[column].shape)
    le = preprocessing.LabelEncoder()
    le.fit(X[column])
    X[column] = le.transform(X[column])
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=0,
                                                    )

In [44]:
import lightgbm as lgb

model = lgb.LGBMRegressor() # モデルのインスタンスの作成
model.fit(X_train, y_train) # モデルの学習

# テストデータの予測
y_pred = model.predict(X_test)

In [51]:
(abs(y_pred-y_test)/y_test).mean()

0.11010851477162747

In [53]:
from sklearn.metrics import mean_squared_error

np.sqrt(mean_squared_error(y_test, y_pred))

24761.393179363815

In [55]:
#y_test1=df_test["SalePrice"]
X_test1=df_test

for column in X_test1.columns:
#     print(titanic[column].shape)
    le = preprocessing.LabelEncoder()
    le.fit(X_test1[column])
    X_test1[column] = le.transform(X_test1[column])

y_pred_test = model.predict(X_test1)

In [56]:
y_pred_test

array([147267.47937761, 148953.40874759, 165759.6630858 , ...,
       148083.15520852, 148705.31050955, 148342.93273086])

y_pred_test.to_csv("output.csv", index = False, header=False)